@import url('https://fonts.googleapis.com/css?family=Pacifico');

/* Shared Colors */
:root {
  --background-gradient-start: rgba(240, 240, 240, 0.75);
  --background-gradient-end: rgba(240, 240, 240, 0.75);
  --accent-color: #a52256;
  --text-color: #d6057fee;
  --navbar-background: rgba(255, 255, 255, 0.25);
  --footer-background: #ded3d3;
  --title-font: 'Pacifico', cursive;
  --navbar-font: monospace;
  --footer-font: Arial, sans-serif;
}

body {
  margin: 0;
  font-family: var(--footer-font);
  position: relative; /* Add this line */
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(to bottom, rgba(240, 240, 240, 0.75), rgba(240, 240, 240, 0.75)),
                url("HomepageBackground.tif"),
                url("HomepageBackground.jpg"),
                url("HomepageBackground.png");
    background-size: cover;
    animation: animateBackground 1000s linear infinite;
    filter: saturate(4);
  }

  @keyframes animateBackground {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 0% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }

/* Header styles */
#navbar {
  display: float;
  text-align: center;
  color: var(--text-color);
  font-family: var(--title-font);
  font-size: 9vw;
  font-weight: 700;
  position: relative;
  background: url("WebsiteHeader.tif"),
  url("WebsiteHeader.jpg"),
  url("WebsiteHeader.png");
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.486);
  background-blend-mode: overlay;
}

#navbar .navbar__container {
  padding: 1.75% 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.centeredElement {
  margin-left: auto;
  margin-right: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.button {
  background: white;
  color: var(--accent-color);
  font-size: 10px;
  font-weight: 800;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease, opacity 0.1s ease;
}
.button:hover {
  transform: translateY(1px);
  opacity: 0.9;
}
.button--accent {
  background: var(--accent-color);
  color: white;
}
.button--outline {
  background: var(--text-color);
  color: white;
  border: solid 1px white;
}
.button--outline:hover {
  filter: brightness(150%);
  opacity: 1;
}

#search-bar {
  flex: 1;
  margin-right: 10px;
}

/* Navigation styles */
nav {
  background-color: var(--text-color);
  color: #fff;
  padding: 1%;
  position: sticky;
  top: 0;
  z-index: 5;
}

nav a {
  font-family: var(--navbar-font);
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  margin: 0 1.25%;
  text-transform: uppercase;
}

/* Card grid styles */
#card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* This ensures a 1:1 aspect ratio */
  background-color: transparent;
  background-image: url("envelope.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.card:hover .image-overlay {
  transform: rotateY(0deg);
  top: 10%;
  left: 0%;
  width: 100%;
  height: 70%;
  background-size: 100% 100%;
}

.image-overlay {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 65%;
  height: 85%;
  background-image: url('fullcard.jpg'); /* Replace with your image URL */
  background-size: 200% 100%;
  background-position: right;
  transform: rotate(-20deg);
  transition: transform 0.5s ease;
}

.quick-view,
.add-to-cart {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--text-color);
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  display: none;
}

.card:hover .quick-view,
.card:hover .add-to-cart {
  display: block;
}


/* Footer styles */
footer {
  background-color: var(--footer-background);
  color: #fff;
  text-align: center;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 0;
  padding-right: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* More */
/* Side menus CSS logic */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
.sidemenu-toggle:checked + .sidemenu-container .sidemenu {
  transform: translate(0, 0);
}
.sidemenu-toggle:checked + .sidemenu-container .sidemenu-overlay {
  pointer-events: all;
  opacity: 1;
  cursor: pointer;
}

.sidemenu--mobile {
  top: 0;
  transform: translateX(-100%);
}
.sidemenu--cart {
  top: 0;
  right: 0;
  transform: translateX(100%);
}
.sidemenu--top {
  top: 0;
  transform: translateY(-100%);
}
.sidemenu--bottom {
  bottom: 0;
  transform: translateY(100%);
}

/* CSS variables */
:root {
  --accent: #a52256;
  --dark: rgb(29 30 34);
  --shadow: rgba(0,0,0,0.5);
}

/* utility classes */
.hidden {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.button {
  padding: 0.3em 0.6em;
  background: #fff;
  color: var(--accent);
  font-size: 1.5vw;
  font-weight: 800;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease, opacity 0.1s ease;
}
.button:hover {
  transform: translateY(1px);
  opacity: 0.9;
}
.button--accent {
  background: var(--accent);
  color: white;
}
.button--outline {
  background: var(--dark);
  color: white;
  border: solid 1px white;
}
.button--outline:hover {
  filter: brightness(150%);
  opacity: 1;
}

.text-lg {
  font-size: 1.5rem;
  font-weight: 800;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

.center-force {
  display: inline-block;
  line-height: 9vw;
}

/* main styles CSS */
.sidemenu {
  position: fixed;
  height: 100vh;
  width: 24rem;
  max-width: 100vw;
  background: white;
  z-index: 10;
  transition: transform ease 0.3s;
  display: grid;
  grid-auto-rows: auto 1fr auto;
}
.sidemenu--top {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.sidemenu--top .sidemenu__footer-content::before {
  height: 1rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}
.sidemenu--bottom {
  background: var(--dark);
  color: white;
  width: 100%;
  height: 75%;
}
.sidemenu .sidemenu__header {
  border-bottom: 1px grey solid;
}
.sidemenu .sidemenu__header .sidemenu__header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.sidemenu .sidemenu__header .sidemenu__header_content--bottom .button {
  position: absolute;
  right: 1rem;
}
.sidemenu .sidemenu__body {
  display: grid;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.sidemenu .sidemenu__footer {
  width: 100%;
}
.sidemenu .sidemenu__footer .sidemenu__footer-content {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.sidemenu .sidemenu__footer::before {
  content: "";
  display: block;
  width: 100%;
  height: 5rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}
.sidemenu .sidemenu__footer--top {
  color: var(--accent);
}
.sidemenu .sidemenu__footer--top::before {
  height: 1rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}

.sidemenu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9;
  background: var(--shadow);
  opacity: 0;
  pointer-events: none;
  transition: opacity ease 0.3s;
}

.main__content {
  font-size: 1.2rem;
  max-width: 65ch;
  margin-top: 11rem;
  margin-bottom: 6rem;
}
.main__content p {
  margin-bottom: 2em;
}
.main__content .sparkles {
  font-size: 3rem;
  margin-bottom: 1.5em;
}
.main__content .main__buttons {
  margin-top: 6rem;
  max-width: 18em;
}
.main__content .main__buttons .button {
  display: block;
  font-size: 1.2rem;
  margin-top: 1em;
}

/* Additional styles for customization options */
.customization-container {
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  background: white;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.color-picker {
  margin-bottom: 10px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
  z-index: -1;
  opacity: 0.5;
}

html {
  height: 100%;
}

main{
  padding-bottom: 10vh;
}

.wrapper {
  max-width: 100%;
  overflow: hidden;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 100s linear infinite;
}

.marquee p {
  display: inline-block;
  margin: 0;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

@media only screen and (max-width: 600px) {
  
  .button {
    font-size: 3vw;
  }
  
  nav {
    display: float;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  
  nav a {
    font-size: 7px;
  }
  
  footer {
    display: float;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 3vw;
  }
  
  footer span {
    margin-left: auto;
    margin-right: auto;
  }
}